body {
    background-color: rgba(0, 0, 0, 0.801)
}
/* FLEXBOX */

/*
justify-content: controla como os itens são alinhados horizontalmente dentro do container flex,
usando a direção principal é horizontal (padrão: now)

flex-start: alinhar os itens à esquerda 
center: centraliza os itens horizontalmente
flex-end: alinhar os itens à direita
space-between: espaço igual entre os itens, primeiro à esquerda e último à direita
space-around: espaço igual entre ao redor de cada item (meio termo entre os itens é maior) 
space-evenly: espaço exatamente igual entre todos itens (inclusive nas bordas)

align-items:
flex-start: alinha os itens no topo
center: centraliza verticalmente
flex-end: alinha os itens na parte inferior
stretch: estica os itens para ocupar toda a largura
baseline: alinha com base do texto interno

flex-direction: 
row: alinha os itens de esquerda para direita
row-reverse: da direita para esquerda
column: de cima para baixo
column-reverse: de baixo para cima
 */

 .box {
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
    border-radius: 2px black;
    margin: 4px;
    text-align: center;
 }
 
 .container1 {
    display: flex;
    justify-content: flex-start;
 }  

 .container2 {
    display: flex;
    justify-content: center;
 }

 .container3 {
    display: flex;
    justify-content: flex-end;
 }

 .container4 {
    display: flex;
    justify-content: space-between;
 }

 .container5 {
    display: flex;
    justify-content: space-around;
 }

 .container6 {
    display: flex;
    justify-content: space-evenly;
 }

 .container7 {
    display: flex;
    justify-content: center;
 }

 .container8 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
 }

 .container9 {
    display: flex;
    justify-content: space-around;
 }

 .container10 {
    display: flex;
    justify-content: center;
 }
 
 .footer {
     font-family: "Arial", sans-serif;
     color: rebeccapurple;
 }